<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/header :: header}"></div>
<div th:replace="~{component/nav :: nav}"></div>

<div class="container">
  <div class="card m-5 p-5">
    <form action="/member/update" method="post" name="updateForm">
      아이디 : <input type="hidden" name="id" th:value="${member.id}">
      이메일 : <input type="text" name="memberEmail" th:value="${member.memberEmail}"> <br>
      비밀번호 : <input type="text" name="memberPassword" th:value="${member.memberPassword}"> <br>
      이름 : <input type="text" name="memberName" th:value="${member.memberName}"> <br>
      생년월일 : <input type="date" name="memberBirth" th:value="${member.memberBirth}"> <br>
      전화번호 : <input type="text" name="memberMobile" th:value="${member.memberMobile}">
      <input type="button" value="수정" onclick="member_update()">
    </form>
  </div>
</div>

<div th:replace="~{component/footer :: footer}"></div>

</body>
<script th:inline="javascript">
  const member_update = () => {
    const passDB = [[${member.memberPassword}]]
    const passInput = document.querySelector('[name="memberPassword"]').value;
    const id = document.querySelector('[name="id"]').value;
    const name = document.querySelector('[name="memberName"]').value;
    const birth = document.querySelector('[name="memberBirth"]').value;
    const mobile = document.querySelector('[name="memberMobile"]').value;
    const email = document.querySelector('[name="memberEmail"]').value;
    if(passDB == passInput){
      axios({
        method: "put",
        url:`/member/${id}`,
        data: {
          id: id,
          memberEmail: email,
          memberPassword: passInput,
          memberName: name,
          memberBirth: birth,
          memberMobile: mobile
        }
      }).then( res => {
        alert("정보수정이 완료되었습니다. 로그인 화면으로 이동합니다.")
        location.href="/member/login"
      }).catch( err => {
        alert("실패입니다.");
      });
    } else {
      alert("비밀번호가 일치하지 않습니다.")
    }
    // if(passDB== passInput) {
    //   document.updateForm.submit();
    // } else {
    //   alert("비밀번호가 일치하지 않습니다");
    // }
  }
</script>
</html>